body {
  background-color: rgb(217, 217, 254);
}

header {
  padding-top: 200px;
}

header #img1 {
position: relative;
height: 100px;
width: 100px;
border: solid black 2px;
}

/* ask about width size of 1400px and height 422px */
header #img2 {
  width: 1000px;
  height: 622px;
  border: solid black 3px;
}

h1 { 
  border-bottom: black solid 5px;
  text-align: center;
  font-style: italic;
  padding-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(169, 169, 247);
  font-size: 70px;

}

div {
  padding-top: 50px;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

section {
  padding-bottom: 50px;
  padding-top: 100px;
  text-align: center;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

div h2 {
  border-bottom: solid black 2px;
  font-style: italic;
  background-color: rgb(169, 169, 247);
}

section h2 {
  border-bottom: solid black 2px;
  font-style: italic;
  background-color: rgb(169, 169, 247);

}

p {
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
}

footer {
  text-align: center;
  border-top: black solid 3px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}



#dogPic {
  height: 350px;
  width: 650px;
  position: relative;
  border: solid black 2px;
}

#busmallPic {
  height: 350px;
  width: 650px;
  position: relative;
  border: solid black 2px;
}

#travelPic {
  height: 350px;
  width: 650px;
  position: relative;
  border: solid black 2px;
}

h3 {
  font-style: italic;
  font-size: 30px;
  background-color: rgb(169, 169, 247);

}

#screenShots {
  font-size: 50px;
  font-family: cursive;
}
